<main class="w-3/4 m-auto">
	<% if(stories){ %>
		<div class="grid place-items-center rounded-xl overflow-hidden bg-gradient-to-r from-slate-50 to-blue-50 p-10">
			<table class="table-auto">
				<thead>
					<tr>
						<th class="px-4 py-2 text-black-600">Title</th>
						<th class="px-4 py-2 text-black-600">Date</th>
						<th class="px-4 py-2 text-black-600">Person</th>
						<th class="px-4 py-2 text-black-600">fifth</th>
						<th class="px-4 py-2 text-black-600">sixth</th>
					</tr>
				</thead>
				<tbody>
					<% stories.forEach(story=> { %>
						<tr>
							<td class="border border-black-500 px-4 py-2 text-black-600 font-medium">
								<a href="/stories/<%=story._id  %>" class="text-blue-900">
									<%= story.title %>
								</a>
							</td>
							<td class="border border-black-500 px-4 py-2 text-black-600 font-medium">
								<div class="text-gray-400">
									<%- formatDate(story.createdAt, 'MMMM Do YYYY, h:mm:ss a' ) %>
								</div>
							</td>
							<td class="border border-black-500 px-4 py-2 text-black-600 font-medium">
								<a href="/stories/user/<%= story.user._id %>">
									<%= story.user.displayName %>
								</a>
							</td>
							<td class="border border-black-500 px-4 py-2 text-black-600 font-medium">
								<div class="text-gray-400">
									<%= story.status %>
								</div>
							</td>
							<td class="border border-black-500 px-4 py-2 text-black-600 font-medium"><a
									href="/stories/<%= story._id %>" class="text-blue-900">Read More</a></td>
						</tr>
						<% }) %>
				</tbody>
			</table>
		</div>
		<% } else { %>
			<p>No Ideas to display</p>
			<% } %>
</main>